.row{
    margin-left: 16px;
    color: white;
    margin-top: 3px;
}

.rowPosters{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
} 
.rowPosters::-webkit-scrollbar {
    display: none;
  }
.rowPoster{
    width: 100%; 
    object-fit: contain;
    height: 100px;
    margin-right: 18px;
    transition: transform 450ms;
}
.rowPoster:hover{
    transform: scale(1.08);
    
}
.rowPosterLarge{
    height: 250px;
}
.rowPosterLarge:hover{
    transform: scale(1.10);
}